In [1]:
import pandas as pd

In [25]:
URL="https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv"
df=pd.read_csv(URL)

In [3]:
# df =pd.read_csv('output.csv', nrows=100, compression='gzip')

In [26]:
df

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [6]:
from sqlalchemy import create_engine

In [27]:
engine = create_engine('postgresql://root:root@localhost:5433/ny_taxi')

In [28]:
engine.connect()

In [29]:
print(pd.io.sql.get_schema(df, name='zone_data', con=engine))

CREATE TABLE zone_data (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [16]:
df.head(0).to_sql(name="yellow_taxi_data", con=engine, if_exists='replace')

0

In [ ]:
# df.to_sql(name="yellow_taxi_data", con=engine, if_exists='append')

In [18]:
from time import time

In [19]:
while True:
    t_start = time()

    df = next(df_iter)
    df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
    df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

    df.to_sql(name="yellow_taxi_data", con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk..., took %.3f second' %(t_end -t_start))

inserted another chunk..., took 11.630 second
inserted another chunk..., took 12.969 second
inserted another chunk..., took 14.688 second
inserted another chunk..., took 13.345 second
inserted another chunk..., took 16.099 second
inserted another chunk..., took 18.321 second
inserted another chunk..., took 15.752 second
inserted another chunk..., took 18.141 second
inserted another chunk..., took 16.854 second
inserted another chunk..., took 16.128 second
inserted another chunk..., took 14.609 second

C:\Users\x\AppData\Local\Temp\ipykernel_7700\3643594282.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk..., took 13.777 second
inserted another chunk..., took 9.424 second

StopIteration: